<header>
  <h2>My App</h2>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="">Services</a></li>
    <li><a routerLink="">Blog</a></li>
    <li><a routerLink="">Contact</a></li>
  </ul>
</header>


<router-outlet></router-outlet>

<footer>
  <div class="parts">
    <h2>My App</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rerum delectus eos minima ut aperiam temporibus architecto nam, esse incidunt. Atque recusandae suscipit itaque quo ipsa, maiores mollitia minus incidunt?</p>
  </div>

  <div class="parts">
    <h2>Navbars</h2>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="">About</a></li>
      <li><a routerLink="">Services</a></li>
      <li><a routerLink="">Blog</a></li>
      <li><a routerLink="">Contact</a></li>
    </ul>
  </div>

  <div class="parts">
    <h2>Contact</h2>
    <ul>
      <li>Email: abc&#64;gmail.com</li>
      <li>Mobile: 9833778899</li>
      <li>Address: DY Patil College, Talegao</li>
    </ul>
  </div>
</footer>